{% layout "layout.liquid" %} {% block content %}
<div>
  <h1>Classical music lovers</h1>
  <a href="/users/signup/"><button>Signup</button></a>
  <a href="/users/login/"><button>Login</button></a>
</div>
{% endblock %}
