{% layout "layout.liquid" %} {% block content %}
<h1>Classical music lovers
    

</h1>
<h2>Composers:</h2>
<div class="container-grid">
    {% for composer in composers%}
    <div>
        <p><a href="/composers/{{composer._id}}">{{composer.name}}</a></p>
        
    </div>
    {% endfor %}


{% endblock %}