{% layout "layout.liquid" %} {% block content %}
<h1>Classical music lovers</h1>
<a href="/composers"><button>Composers</button></a>
<a href="/playlists"><button>My playlist</button></a>
<a href="/logout"><button>Logout</button></a>
<a href="/"><button>Home</button></a>
<h1>{{composer.name}} songs
</h1>
<div class="container-grid">
    
    {% for song in songs%}
    <div>
        
            <p>{{song.name}}
                <form action="/playlists/{{song._id}}/playlist" method="POST">
                    <input type="submit" value="Add to playlist" />
                </form>
                
          <audio src="../../{{song.audio}}" autostart="false" controls type="audio/mpeg"></audio></p> 
         
    
        
        
    </div>
    {% endfor %}

{% endblock %}